# MongoDB Connection URI
MONGO_URI="mongodb+srv://<user>:<password>@<cluster-url>/<database-name>?retryWrites=true&w=majority"


# JWT Secret Key (use a long, random string)
JWT_SECRET="YOUR_SUPER_SECRET_KEY_HERE"


# Arcjet Site Key
ARCJET_KEY="YOUR_ARCJET_SITE_KEY_HERE"

# Google Cloud Storage Configuration
GCP_PROJECT_ID="your-google-cloud-project-id"
GCS_BUCKET_NAME="your-globally-unique-bucket-name"
GOOGLE_APPLICATION_CREDENTIALS="path/to/your/gcloud-key.json"